/CODE/Stack and Queue/StackAndQueue/nbproject/private/
/CODE/Stack and Queue/StackAndQueue/build/
/DataStructure/build/
/DataStructure/nbproject/private/
/DataStructure/INT320MidtermExamG2/INT320MidtermExamG2/build/
/DataStructure/INT320MidtermExamG2/INT320MidtermExamG2/nbproject/private/